.header-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../assets/Background.svg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-content {
  position: relative;
  padding-right: 20px;
  color: #fff;
  text-align: right;
}

.header-title {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 82px;
  text-align: right;
  color: #ffffff;
}

.header-paragraph {
  width: 395px;
  height: 221px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-align: right;
  margin-left: auto;
  margin-bottom: 20px;
  color: #ffffff;
}

.discover-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  line-height: 31px;
  color: #fff;
  padding: 10px 30px;
  font-family: "Lora";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  cursor: pointer;
}

.discover-button img {
  margin-left: 10px;
}

.discover-button:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 32px;
    line-height: 41px;
  }
  .header-paragraph {
    font-size: 20px;
    line-height: 31px;
  }
  .discover-button {
    font-size: 20px;
  }
  .discover-button img {
    margin-left: 5px;
  }
}
